<!-- Card #1 -->
<div class="card w-96 bg-[var(--tw-background)] hover:bg-[#364C65] shadow-xl border border-[rgba(255,255,255,0.2)]">
  <figure><img src="https://daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" alt="Shoes" /></figure>
  <div class="card-body">
    <!-- <h2 class="card-title"></h2> -->
    <div class="flex flex-row items-center justify-around gap-[120px] mb-4">
      <div class="groupCard flex flex-row items-center gap-2">
        <img src="/assets/card-play.png" alt="" class="w-6 h-auto" />
        <h4>Langkah 1</h4>
      </div>

      <div class="bg-[#526071] text-[#D9ECFF] badge py-[15px] px-5 border-none">Android</div>
    </div>

    <div class="card-title text-2xl text-[#D9ECFF] font-bold">Belajar Fundamental Aplikasi Android</div>
    <div class="divider divider-[#DADAF7]"></div>
    <!-- <div class="card-actions justify-end">
      <button class="btn btn-primary">Buy Now</button>
    </div> -->
    <div class="user-profile mt-0 flex flex-row gap-5">
      <!-- start avatar -->
      <div class="avatar">
        <div class="w-10 rounded-full">
          <img src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
        </div>
      </div>
      <!-- end of avatar -->
      <div class="username-and-job">
        <h3 class="text-[#D9ECFF] font-semibold text-l">Jessen Chayadi</h3>
        <h5 class="job text-[#D9ECFF] font-normal text-sm">Flutter Developer</h5>
      </div>
    </div>
  </div>
</div>
<!-- end of Card #1 -->
