<div class="component4 pb-[15rem] pt-[5rem] pad-md">
  <div class="text-center text-[2.5em]">
    <span>Apa kata</span><span class="text-orange"> siswa kami?</span>
  </div>
  <div class="flex justify-between pt-[8rem]">
    <div class="w-1/3 relative min-h-[10rem]">
      <img
        src="assets/pfp.png"
        alt=""
        class="w-[6rem] absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-[10]"
      />
      <img
        src="assets/pfp.png"
        alt=""
        class="w-[5rem] absolute top-[-1.5rem] left-[-0.5rem] z-[10]"
      />
      <img
        src="assets/pfp.png"
        alt=""
        class="w-[3rem] absolute top-[9rem] left-[3.25rem] z-[10]"
      />
      <img
        src="assets/pfp.png"
        alt=""
        class="w-[2.7rem] absolute bottom-[-2rem] right-[1rem] z-[10]"
      />
      <img
        src="assets/pfp.png"
        alt=""
        class="w-[2.5rem] absolute right-[3rem] top-[-1rem] z-[10]"
      />

      <img
        src="assets/peri_light_2.png"
        alt=""
        class="max-w-[45rem] absolute left-[-10rem] top-[-23rem] z-[1]"
      />
    </div>
    <div class="flex w-2/3"></div>
  </div>
</div>
