<div class="component3 pad-md py-[5rem]">
  <div>
    <h2 class="text-center font-bold text-[2.5em] mb-[2.5rem]">
      <span class="text-orange">Alur Belajar</span
      ><span class="text-white"> Populer</span>
    </h2>
    <div class="alur-buttons">
      <button class="btn btn-wide">
        <img src="assets/Android.png" alt="" />
        <span>Android</span>
        <img src="assets/ArrowUpRight.png" alt="" class="bg-arrow" />
      </button>
      <button class="btn btn-wide">
        <img src="assets/Android.png" alt="" />
        <span>Android</span>
        <img src="assets/ArrowUpRight.png" alt="" class="bg-arrow" />
      </button>
      <button class="btn btn-wide">
        <img src="assets/Android.png" alt="" />
        <span>Android</span>
        <img src="assets/ArrowUpRight.png" alt="" class="bg-arrow" />
      </button>
      <button class="btn btn-wide">
        <img src="assets/Android.png" alt="" />
        <span>Android</span>
        <img src="assets/ArrowUpRight.png" alt="" class="bg-arrow" />
      </button>
      <button class="btn btn-wide">
        <img src="assets/Android.png" alt="" />
        <span>Android</span>
        <img src="assets/ArrowUpRight.png" alt="" class="bg-arrow" />
      </button>
      <button class="btn btn-wide">
        <img src="assets/Android.png" alt="" />
        <span>Android</span>
        <img src="assets/ArrowUpRight.png" alt="" class="bg-arrow" />
      </button>
      <button class="btn btn-wide">
        <img src="assets/Android.png" alt="" />
        <span>Android</span>
        <img src="assets/ArrowUpRight.png" alt="" class="bg-arrow" />
      </button>
      <button class="btn btn-wide">
        <img src="assets/Android.png" alt="" />
        <span>Android</span>
        <img src="assets/ArrowUpRight.png" alt="" class="bg-arrow" />
      </button>
    </div>
  </div>
  <div class="container-2 mt-[5rem] flex">
    <div>
      <h2 class="text-[3em]">
        <span class="text-white">Kenapa memilih </span>
        <span class="text-orange">Kampoeng Ilmu?</span>
      </h2>
      <p class="text-light-blue">
        Kami Berkomitmen untuk Memberikan Perhatian Personal dan Pengalaman
        Belajar yang Lebih Intim, Membangun Hubungan yang Lebih Dekat, dan
        Menghadirkan Kesempatan Belajar yang Luar Biasa."
      </p>
      <button
        class="mt-[2rem] btn px-[2rem] bg-[#FF9A01] rounded-[2rem] py-[1.1rem] border-none text-[black] font-bold text-md"
      >
        Jelajahi lebih lanjut
      </button>
    </div>
    <div>
      <img src="assets/person.png" alt="" />
    </div>
    <div class="circle-buttons py-[12rem] flex flex-col justify-between">
      <div class="flex align-middle">
        <button class="btn btn-circle btn-lg">
          <img src="assets/Users.png" alt="" srcset="" />
        </button>
        <div class="ml-2 align-middle">
          <p class="font-bold text-lg text-center">400+</p>
          <p class="text-[#727F90]">Pengajar</p>
        </div>
      </div>
      <div class="flex align-middle">
        <button class="btn btn-circle btn-lg">
          <img src="assets/Users.png" alt="" srcset="" />
        </button>
        <div class="ml-2 align-middle">
          <p class="font-bold text-lg text-center">400+</p>
          <p class="text-[#727F90]">Pengajar</p>
        </div>
      </div>
      <div class="flex align-middle">
        <button class="btn btn-circle btn-lg">
          <img src="assets/Users.png" alt="" srcset="" />
        </button>
        <div class="ml-2 align-middle">
          <p class="font-bold text-lg text-center">400+</p>
          <p class="text-[#727F90]">Pengajar</p>
        </div>
      </div>
    </div>
  </div>
  <div></div>
</div>
