<div class="rk-container w-full pt-[9rem]">
  <div class="flex flex-col justify-center items-center hero h-[70vh] w-full">
    <h1 class="text-5xl font-bold">
      Ruang <Span class="text-[var(--tw-button)]">Kelas</Span>
    </h1>
    <p
      class="text-l font-reguler text-center text-wrap text-[#D0D3DB] mx-[450px] mt-[20px] mb-[130px]"
    >
      Temukan Ratusan Kelas Coding Berkualitas di Kampoeng Ilmu! Kami bangga
      menyajikan koleksi yang luas dari pemula hingga tingkat lanjutan, kami
      memiliki sesuatu untuk setiap tingkat kemampuan dan minat
    </p>
  </div>
</div>
