<div class="component3 pad-md py-[3rem]">
  <div>
    <h2 class="text-center font-bold text-[2.5em] mb-[3rem] mt-[4rem]">
      <span class="text-orange">Alur Belajar</span
      ><span class="text-white"> Populer</span>
    </h2>
    <div class="alur-buttons poppins">
      <button class="btn btn-wide">
        <img src="assets/Android.png" alt="" />
        <span>Android</span>
        <img src="assets/ArrowUpRight.png" alt="" class="bg-arrow" />
      </button>
      <button class="btn btn-wide">
        <img src="assets/Android.png" alt="" />
        <span>Machine Learning</span>
        <img src="assets/ArrowUpRight.png" alt="" class="bg-arrow" />
      </button>
      <button class="btn btn-wide">
        <img src="assets/database.png" alt="" />
        <span>Data Science</span>
        <img src="assets/ArrowUpRight.png" alt="" class="bg-arrow" />
      </button>
      <button class="btn btn-wide">
        <img src="assets/Android.png" alt="" />
        <span>Front-End Web</span>
        <img src="assets/ArrowUpRight.png" alt="" class="bg-arrow" />
      </button>
      <button class="btn btn-wide">
        <img src="assets/stack.png" alt="" />
        <span>Back-End</span>
        <img src="assets/ArrowUpRight.png" alt="" class="bg-arrow" />
      </button>
      <button class="btn btn-wide">
        <img src="assets/react.png" alt="" />
        <span>React</span>
        <img src="assets/ArrowUpRight.png" alt="" class="bg-arrow" />
      </button>
      <button class="btn btn-wide">
        <img src="assets/dataengineer.png" alt="" />
        <span>Data Engineer</span>
        <img src="assets/ArrowUpRight.png" alt="" class="bg-arrow" />
      </button>
      <button class="btn btn-wide">
        <img src="assets/piechart.png" alt="" />
        <span>Spread Sheet</span>
        <img src="assets/ArrowUpRight.png" alt="" class="bg-arrow" />
      </button>
    </div>
  </div>
  <div class="container-2 mt-[9rem] flex justify-between w-full h-full">
    <div class="relative w-2/5">
      <div class="text-[2.5em]">
        <p class="text-white">Kenapa memilih</p>
        <p class="text-orange mt-[-1.3rem]">Kampoeng Ilmu?</p>
      </div>
      <p class="text-light-blue mt-[2rem]">
        Kami Berkomitmen untuk <br />Memberikan Perhatian Personal dan <br />
        Pengalaman Belajar yang Lebih <br />Intim, Membangun Hubungan yang<br />
        Lebih Dekat, dan Menghadirkan <br />Kesempatan Belajar yang Luar
        <br />Biasa."
      </p>
      <button
        class="poppins mt-[2rem] btn px-[2rem] bg-[#FF9A01] rounded-[2rem] py-[1.1rem] border-none text-[#142938] font-bold text-md z-[999] opacity-1"
      >
        Jelajahi lebih lanjut
      </button>
      <img
        src="assets/orn_frame.png"
        alt=""
        class="w-[9rem] h-[9rem] absolute bottom-[-4.7rem] left-[15px] z-[1] pointer-events-none"
      />
      <img
        src="assets/orn_frame.png"
        alt=""
        class="w-[9rem] h-[9rem] absolute bottom-[-4.7rem] left-[-9rem] z-[1] pointer-events-none"
      />
    </div>
    <div class="relative w-2/5">
      <img
        src="assets/person.png"
        alt=""
        class="object-cover w-[32rem] h-auto absolute left-[-3.5rem] top-0 transform rotate-[-40]"
      />
      <img
        src="assets/orn_circle.png"
        alt=""
        class="w-[3.5rem] h-[3.5rem] absolute top-[-4rem] left-[-4rem]"
      />
    </div>
    <div class="py-[2.5rem] flex flex-col justify-between relative w-1/5">
      <div class="circle-buttons flex align-middle justify-end">
        <button class="btn btn-circle btn-lg">
          <img src="assets/GraduationCap.png" alt="" srcset="" />
        </button>
        <div class="ml-2 align-middle">
          <p class="font-bold text-lg text-center">400+</p>
          <p class="text-[#727F90]">Pengajar</p>
        </div>
      </div>
      <div class="circle-buttons flex align-middle justify-end">
        <button class="btn btn-circle btn-lg">
          <img src="assets/VideoCamera.png" alt="" srcset="" />
        </button>
        <div class="ml-4 align-middle">
          <p class="font-bold text-lg text-center">5000+</p>
          <p class="text-[#727F90]">Video</p>
        </div>
      </div>
      <div class="circle-buttons flex align-middle justify-end">
        <button class="btn btn-circle btn-lg">
          <img src="assets/Users.png" alt="" srcset="" />
        </button>
        <div class="ml-4 align-middle">
          <p class="font-bold text-lg text-center">1000+</p>
          <p class="text-[#727F90]">Siswa</p>
        </div>
      </div>
      <img
        src="assets/orn_star.png"
        alt=""
        class="w-[3rem] h-[3rem] absolute top-[-3rem] left-[-15px]"
      />
      <img
        src="assets/peri_light.png"
        alt=""
        class="max-w-[35rem] h-auto absolute top-[-14rem] right-[-10rem] pointer-events-none"
      />
    </div>
  </div>
</div>
<div class="flex w-full justify-between pt-[5rem] component3 pb-[8rem] poppins">
  <div class="pb-[3rem] flex-1 poppins">
    <div class="bg-[#2B3E4C] px-[2rem] py-[0.8rem] text-center">
      <p>Dipercaya oleh</p>
      <p class="text-lg font-bold">UNTAR</p>
    </div>
  </div>
  <div class="pt-[3rem] flex-1 poppins">
    <div class="bg-[#FF9A01] px-[1rem] py-[0.8rem] text-center">
      <p class="text-[#142938] text-lg font-bold">50+</p>
      <p class="text-[#142938] font-semibold">Alur Belajar</p>
    </div>
  </div>
  <div class="pb-[3rem] w-1/3 poppins">
    <div class="bg-[#2B3E4C] px-[2rem] py-[0.8rem] text-center">
      <p>Memperoleh rating tinggi #1 edukasi</p>
      <div class="flex justify-center">
        <span class="mr-2 text-lg font-bold">4.8</span
        ><span class="star-container flex pt-1">
          <img src="assets/star1.png" alt="" />
          <img src="assets/star1.png" alt="" />
          <img src="assets/star1.png" alt="" />
          <img src="assets/star1.png" alt="" />
          <img src="assets/star2.png" alt="" />
        </span>
      </div>
    </div>
  </div>
  <div class="pt-[3rem] flex-1 poppins">
    <div class="bg-[#FF9A01] px-[1rem] py-[0.8rem] text-center">
      <p class="text-[#142938] font-bold text-lg">800+</p>
      <p class="text-[#142938] font-semibold">Lowongan Kerja</p>
    </div>
  </div>
  <div class="pb-[3rem] flex-1 poppins">
    <div class="bg-[#2B3E4C] px-[2rem] py-[0.8rem] text-center">
      <p>Dipercaya oleh</p>
      <p class="text-md font-bold">BEM FTI UNTAR</p>
    </div>
  </div>
</div>
