<div class="hero min-h-screen" style="background-image: url(/assets/Beranda.png)">
  <div class="hero-overlay"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="w-[800px] mb-[100px] mt-[45px]">
      <h1 class="mb-[30px] text-5xl font-bold text-[#FFFFFF]">
        Coding adalah kunci untuk mengubah
        <span class="relative">
          <span class="text-[var(--tw-button)]">dunia</span>
          <img src="/assets/Underline_Vector.svg" alt="Underline" class="absolute bottom-[-15px] left-0 w-full h-auto" />
          <img src="/assets/Star.svg" alt="Star" class="absolute bottom-[-8px] right-[-65px] w-[40px] h-[40px]" />
        </span>
      </h1>
      <p class="mb-5 text-2xl font-medium text-[var(--tw-form-text)]">Temukan ribuan kelas <span class="text-[var(--tw-button)]">coding</span> khusus untukmu!</p>
      <label class="input input-bordered flex items-center gap-2 rounded-badge bg-[var(--tw-form)] mx-[140px] mt-[35px] py-[28px] relative">
        <input type="text" class="grow placeholder-[var(--tw-white)] placeholder-font-bold ml-5" placeholder="Mau belajar apa hari ini?" />
        <button class="btn btn-sm rounded-badge bg-[--tw-button] text-[--tw-font] border-none w-[110px] h-auto py-[17px]">Jelajahi</button>
        <img src="/assets/arrow_beranda.png" alt="arrow" class="absolute bottom-[-100px] left-1/2 transform -translate-x-1/2 w-[90px] h-auto" />
      </label>
    </div>
  </div>
</div>
