<div class="component3 pad-md py-[5rem]">
  <div>
    <h2 class="text-center font-bold text-[2.5em] mb-[2.5rem]">
      <span class="text-orange">Alur Belajar</span
      ><span class="text-white"> Populer</span>
    </h2>
    <div class="alur-buttons">
      <button class="btn btn-wide">
        <img src="assets/Android.png" alt="" />
        <span>Android</span>
        <img src="assets/ArrowUpRight.png" alt="" class="bg-arrow" />
      </button>
      <button class="btn btn-wide">
        <img src="assets/Android.png" alt="" />
        <span>Android</span>
        <img src="assets/ArrowUpRight.png" alt="" class="bg-arrow" />
      </button>
      <button class="btn btn-wide">
        <img src="assets/Android.png" alt="" />
        <span>Android</span>
        <img src="assets/ArrowUpRight.png" alt="" class="bg-arrow" />
      </button>
      <button class="btn btn-wide">
        <img src="assets/Android.png" alt="" />
        <span>Android</span>
        <img src="assets/ArrowUpRight.png" alt="" class="bg-arrow" />
      </button>
      <button class="btn btn-wide">
        <img src="assets/Android.png" alt="" />
        <span>Android</span>
        <img src="assets/ArrowUpRight.png" alt="" class="bg-arrow" />
      </button>
      <button class="btn btn-wide">
        <img src="assets/Android.png" alt="" />
        <span>Android</span>
        <img src="assets/ArrowUpRight.png" alt="" class="bg-arrow" />
      </button>
      <button class="btn btn-wide">
        <img src="assets/Android.png" alt="" />
        <span>Android</span>
        <img src="assets/ArrowUpRight.png" alt="" class="bg-arrow" />
      </button>
      <button class="btn btn-wide">
        <img src="assets/Android.png" alt="" />
        <span>Android</span>
        <img src="assets/ArrowUpRight.png" alt="" class="bg-arrow" />
      </button>
    </div>
  </div>
  <div></div>
  <div></div>
</div>
