<div class="footer pad-md flex pt-[1rem] pb-[3rem] poppins">
  <div class="w-2/6">
    <div><img src="assets/logo.png" alt="" class="w-[10rem] py-[2rem]" /></div>
    <p class="text-[#E1EFFF]">
      Platform pembelajaran daring dengan beragam ruang kelas, alur belajar,
      hingga instruktur ahli di bidang pemrograman.
    </p>
    <p class="pt-[1rem]">
      © 2024 <span>Kampoeng</span> <span class="text-orange">Ilmu</span>- All
      Rights Reserved
    </p>
  </div>
  <div class="w-1/6">
    <p class="py-[2rem] font-bold text-lg caladea">Akses Cepat</p>
    <ul>
      <li><p class="text-[#E1EFFF]">Beranda</p></li>
      <li><p class="text-[#E1EFFF]">Ruang Kelas</p></li>
      <li><p class="text-[#E1EFFF]">Alur Belajar</p></li>
      <li><p class="text-[#E1EFFF]">Lowongan Kerja</p></li>
    </ul>
  </div>
  <div class="w-1/6">
    <p class="py-[2rem] font-bold text-lg caladea">Legal</p>
    <ul>
      <li><p class="text-[#E1EFFF]">Terms of use</p></li>
      <li><p class="text-[#E1EFFF]">Terms & conditions</p></li>
      <li><p class="text-[#E1EFFF]">Privacy policy</p></li>
      <li><p class="text-[#E1EFFF]">Cookie policy</p></li>
    </ul>
  </div>

  <div class="w-2/6">
    <p class="py-[2rem] font-bold text-lg caladea">
      Berlangganan ke buletin bulanan kami
    </p>
    <p class="text-[#E1EFFF]">Bergabung dengan lebi dari 10,000 pengguna</p>
    <div class="flex first-letter pt-2">
      <label
        class="input input-bordered flex items-center gap-2 bg-transparent border-none border-b"
      >
        <input
          type="email"
          class="grow bg-transparent border-none border-b"
          placeholder="Masukkan Email"
        />
      </label>
      <button
        type="button"
        class="btn bg-[#FF9A01] rounded-[2rem] border-none text-[#142938] font-bold text-md ml-[1rem]"
      >
        <a href="/daftar"> Berlangganan</a>
      </button>
    </div>
  </div>
</div>
