<div class="absolute top-0 bg-transparent w-full">
  <div class="navbar bg-transparent border-b-[1px] w-full pb-[1.5rem]">
    <div class="navbar-start mt-3">
      <a class="btn btn-ghost text-xl w-[250px] h-[40px]"
        ><img src="/assets/logo.png" alt="" class="w-[250px] h-[40px]"
      /></a>
    </div>
    <div class="navbar-center mr-10 mt-3">
      <ul class="menu menu-horizontal px-1">
        <li><a href="/">Beranda</a></li>
        <li>
          <a href="/kelas-belajar">Ruang Kelas</a>
        </li>
        <li><a href="/alur-belajar">Alur Belajar</a></li>
        <li><a href="/tentang-kami">Tentang Kami</a></li>
      </ul>
    </div>
    <div class="navbar-end ml-20 mt-3">
      <label
        class="input input-bordered flex items-center gap-2 rounded-badge bg-[var(--tw-form)] w-[250px] h-[40px]"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 16 16"
          fill="currentColor"
          class="w-5 h-5 color-[var(--tw-form-text)]"
        >
          <path
            fill-rule="evenodd"
            d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
            clip-rule="evenodd"
          />
        </svg>
        <input
          type="text"
          class="grow placeholder-[var(--tw-form-text)] text-sm"
          placeholder="Mau belajar apa hari ini?"
        />
      </label>

      <a
        href="/daftar"
        class="btn w-[180px] h-[20px] p-0 ml-4 mr-5 rounded-badge bg-[var(--tw-button)] text-[var(--tw-font)] hover:bg-[var(--tw-font)] hover:text-[var(--tw-button)] hover:border-[var(--tw-white)]"
        >Masuk sekarang</a
      >
    </div>
  </div>
</div>
