<div class="pt-[5rem] flex w-full">
  <div class="w-[25%] px-[1rem] py-[2rem]">
    <button>
      <img
        src="assets/arrow_left_black.png "
        alt=""
        class="w-[2.2rem] h-[2rem] bg-[#FF9A01] p-[0.5rem] mt-[1rem] rounded-md mb-[1rem]"
      />
    </button>
    <div class="">
      <h2 class="text-[1.5em] mb-[1rem]">Alur Belajar Android</h2>
      <div
        class="flex justify-between py-[0.7rem] bg-[#FF9A01] rounded-lg items-center px-[1rem] mt-[0.7rem]"
      >
        <img src="assets/Book.png" alt="" class="w-[1rem] h-[1rem]" />
        <span class="text-[13px] text-[#142938] font-semibold"
          >Kursus 01 : Pendahuluan Flutter</span
        >
        <span class="text-[13px] text-[#142938] font-semibold">30 Menit</span>
      </div>
      <div
        class="flex justify-between py-[0.7rem] bg-[#FF9A01] rounded-lg items-center px-[1rem] mt-[0.7rem]"
      >
        <img src="assets/Book.png" alt="" class="w-[1rem] h-[1rem]" />
        <span class="text-[13px] text-[#142938] font-semibold"
          >Kursus 01 : Pendahuluan Flutter</span
        >
        <span class="text-[13px] text-[#142938] font-semibold">30 Menit</span>
      </div>
      <div
        class="flex justify-between py-[0.7rem] bg-[#FF9A01] rounded-lg items-center px-[1rem] mt-[0.7rem]"
      >
        <img src="assets/Book.png" alt="" class="w-[1rem] h-[1rem]" />
        <span class="text-[13px] text-[#142938] font-semibold"
          >Kursus 01 : Pendahuluan Flutter</span
        >
        <span class="text-[13px] text-[#142938] font-semibold">30 Menit</span>
      </div>
      <div
        class="flex justify-between py-[0.7rem] bg-[#FF9A01] rounded-lg items-center px-[1rem] mt-[0.7rem]"
      >
        <img src="assets/Book.png" alt="" class="w-[1rem] h-[1rem]" />
        <span class="text-[13px] text-[#142938] font-semibold"
          >Kursus 01 : Pendahuluan Flutter</span
        >
        <span class="text-[13px] text-[#142938] font-semibold">30 Menit</span>
      </div>
    </div>
    <div>
      <h2 class="text-[1.5em] mb-[1rem] mt-[2rem]">Proyek Akhir</h2>
      <div
        class="flex py-[0.7rem] bg-[#9DCCFF] rounded-lg items-center px-[1rem] mt-[0.7rem]"
      >
        <img src="assets/Rocket.png" alt="" class="w-[1rem] h-[1rem]" />
        <span class="text-[13px] text-[#142938] font-semibold ml-[0.5rem]"
          >Kursus 01 : Pendahuluan Flutter</span
        >
      </div>
      <div
        class="flex py-[0.7rem] bg-[#9DCCFF] rounded-lg items-center px-[1rem] mt-[0.7rem]"
      >
        <img src="assets/Rocket.png" alt="" class="w-[1rem] h-[1rem]" />
        <span class="text-[13px] text-[#142938] font-semibold ml-[0.5rem]"
          >Kursus 01 : Pendahuluan Flutter</span
        >
      </div>
      <div
        class="flex py-[0.7rem] bg-[#9DCCFF] rounded-lg items-center px-[1rem] mt-[0.7rem]"
      >
        <img src="assets/Rocket.png" alt="" class="w-[1rem] h-[1rem]" />
        <span class="text-[13px] text-[#142938] font-semibold ml-[0.5rem]"
          >Kursus 01 : Pendahuluan Flutter</span
        >
      </div>
      <div
        class="flex py-[0.7rem] bg-[#9DCCFF] rounded-lg items-center px-[1rem] mt-[0.7rem]"
      >
        <img src="assets/Rocket.png" alt="" class="w-[1rem] h-[1rem]" />
        <span class="text-[13px] text-[#142938] font-semibold ml-[0.5rem]"
          >Kursus 01 : Pendahuluan Flutter</span
        >
      </div>
      <div
        class="flex py-[0.7rem] bg-[#9DCCFF] rounded-lg items-center px-[1rem] mt-[0.7rem]"
      >
        <img src="assets/Rocket.png" alt="" class="w-[1rem] h-[1rem]" />
        <span class="text-[13px] text-[#142938] font-semibold ml-[0.5rem]"
          >Kursus 01 : Pendahuluan Flutter</span
        >
      </div>
      <div
        class="flex py-[0.7rem] bg-[#9DCCFF] rounded-lg items-center px-[1rem] mt-[0.7rem]"
      >
        <img src="assets/Rocket.png" alt="" class="w-[1rem] h-[1rem]" />
        <span class="text-[13px] text-[#142938] font-semibold ml-[0.5rem]"
          >Kursus 01 : Pendahuluan Flutter</span
        >
      </div>
      <div
        class="flex py-[0.7rem] bg-[#9DCCFF] rounded-lg items-center px-[1rem] mt-[0.7rem]"
      >
        <img src="assets/Rocket.png" alt="" class="w-[1rem] h-[1rem]" />
        <span class="text-[13px] text-[#142938] font-semibold ml-[0.5rem]"
          >Kursus 01 : Pendahuluan Flutter</span
        >
      </div>
    </div>
  </div>
  <div class="w-[75%] py-[1rem] pl-[0.5rem]">
    <div class="px-[2rem] py-[1.5rem] bg-[#FF9A01]">
      <h1 class="text-[#142938] font-bold text-[2rem]">Alur Belajar Android</h1>
      <div class="flex justify-between">
        <h2 class="text-[#142938]">Kursus 01 : Pendahuluan Flutter</h2>
        <div class="flex items-center">
          <img
            src="assets/Clock.png"
            alt=""
            class="w-[1.2rem] h-[1.2rem] mr-[0.7rem]"
          />
          <span class="text-[#142938]">30 Menit</span>
        </div>
      </div>
    </div>
    <div class="mt-[1rem] pr-[1.5rem]">
      <div>
        Pendahuluan Flutter akan memberikan pemahaman dasar tentang Flutter,
        sebuah framework open-source yang dikembangkan oleh Google untuk
        membangun antarmuka pengguna (UI) aplikasi mobile secara cepat dan
        mudah. Peserta akan mempelajari konsep dasar Flutter, termasuk struktur
        proyek, widget, layout, dan navigasi. Mereka juga akan diperkenalkan
        dengan pengembangan aplikasi sederhana menggunakan Flutter serta
        pemecahan masalah umum yang mungkin dihadapi dalam pengembangan aplikasi
        mobile menggunakan framework ini.
      </div>
      <div class="mt-[1rem]">
        <img src="assets/Video.png" alt="" />
      </div>
    </div>
  </div>
</div>
<%- include('layouts/footer') %>
