<!DOCTYPE html>
<html lang="en">
  <!-- head -->
  <%- include('./layouts/head') %>

  <body>
    <!-- navbar -->
    <%- include('./layouts/navbar') %>
    <!-- body -->
    <%- body %> <%- include('./layouts/footer') %>
  </body>
</html>
