@import url("https://fonts.googleapis.com/css2?family=Caladea:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --font-family-title: "Caladea", sans-serif;
  --font-family-text: "Poppins", sans-serif;
  --tw-button: #ff9a01;
  --tw-font: #142938;
  --tw-white: #ffffff;
  --tw-form: #3d4e64;
  --tw-form-text: #d9ecff;
}

* {
  font-family: var(--font-family);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  color: white;
}

body {
  /* background: var(--color-bg); */
}

.component3 {
  background-color: #142938;
}

.text-orange {
  color: #ff9a01;
}

.text-light-blue {
  font-family: var(--font-family-text);
  color: #b0b0d1;
}

.pad-md {
  padding: 0 150px 0 150px;
}
.alur-buttons {
  display: grid;
  grid-template-columns: repeat(
    4,
    1fr
  ); /* Two columns each taking equal space */
  grid-template-rows: repeat(
    2,
    auto
  ); /* Four rows, each sized automatically based on content */
  gap: 13px; /* Gap between grid items */
}
.alur-buttons button {
  background-color: #2b3e4c;
  color: white;
  display: flex;
  justify-content: space-between;
  border: none;
}
.alur-buttons img {
  width: 1.4rem;
  height: 1.4rem;
}
.bg-arrow {
  background-color: #2b3e4c;
  border-radius: 2px;
}

.circle-buttons button {
  background-color: #2b3e4c;
  border: none;
}
.circle-buttons img {
  width: 1.6rem;
  height: 1.6rem;
}

.star-container img {
  width: 1.2rem;
  height: 1.2rem;
}
